<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8 />
    <meta name=description content="PPPeasShop" />
    <meta name=author content="Lucas Beyer and Alexander Hermans" />

    <!-- <link rel="stylesheet" type="text/css" href="/static/main.css"> -->
    <style>
        html {
            background-color: rgb(232, 232, 232);
            color: rgb(88, 88, 88);
            text-align: justify;
        }

        html, body {
            margin: 0;
            padding: 0;
        }
    </style>

    <title>Welcome to the PPPeasShop!</title>
</head>
<body>
    <h1>Welcome to the PPPeasShop!</h1>

    <a href={{new_url}}>New Game</a> 
</body>
</html>
