<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <meta name=description content="PPPeasShop" />
    <meta name=author content="Lucas Beyer and Alexander Hermans" />

    <style>
        html {
            background-color: rgb(232, 232, 232);
            color: rgb(88, 88, 88);
            text-align: justify;
        }

        html, body {
            margin: 0;
            padding: 0;
        }
    </style>

    <title>Welcome to the PPPeasShop!</title>
</head>
<body>
    <h1>Welcome to the PPPeasShop!</h1>
</body>
</html>
